<!--TODO override href directive -->

<!-- Menu Area -->
<div class="main-menu-area">
  <nav class="navbar navbar-expand-lg align-items-start">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
      <ul class="navbar-nav animated" id="nav">
        <li class="nav-item active"><a class="nav-link" routerLink="">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="shop" >Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="cart">Cart</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="currentUser" routerLink="checkout">
          <!--<span class="karl-level">hot</span>--> Checkout</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="!currentUser" routerLink="login">Login</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="currentUser" href (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
